<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">LOL</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#">Home</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="#">Navbar Link</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
<div class="section no-pad-bot" id="index-banner" align="center">
  <div class="container">
    <br><br>
    <h1 class="header center orange-text">Summoner Search</h1>
    <div class="row center">
      <h5 class="header col s12 light">Type in the summoner's name here:</h5>
    </div>
    <label>
    <div class="input">
        <input type="text" #summonerName placeholder="Summoner's name">
    </div>
    </label>
    <div class="row center">
      <a (click)="onSearchClick(summonerName.value);" id="download-button" class="btn-large waves-effect waves-light orange">Search</a>
    </div>
    <br><br>

  </div>
</div>


<div class="container">
  <div class="section">
    <table style='border: 1px solid black'>
      <tr *ngFor="let m of latestTen()" style='border:1px solid black'>
        <td>{{m.winner}}</td>
        <td><img src={{getChampImg(m)}} ></td>
        <table>
          <tr>
            <td>{{m.participants[m.part].stats.kills}}/{{m.participants[m.part].stats.deaths}}/{{m.participants[m.part].stats.assists}}</td>
          </tr>
          <tr>
            <td>
              <img src={{getItemImg(m.participants[m.part].stats.item0)}}>
              <img src={{getItemImg(m.participants[m.part].stats.item1)}}>
              <img src={{getItemImg(m.participants[m.part].stats.item2)}}>
              <img src={{getItemImg(m.participants[m.part].stats.item3)}}>
              <img src={{getItemImg(m.participants[m.part].stats.item4)}}>
              <img src={{getItemImg(m.participants[m.part].stats.item5)}}>
              <img src={{getItemImg(m.participants[m.part].stats.item6)}}>
            </td>
          </tr>
        </table>
      </tr>
    </table>
  </div>
</div>

<footer class="page-footer orange">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">


      </div>
      <div class="col l3 s12">
        <ul>
        </ul>
      </div>
      <div class="col l3 s12">
        <ul>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
    </div>
  </div>
</footer>